body{

    background: #181818;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
/* CUSTOM SCROLL BAR fOR HOMEPAGE*/

html{
  --scrollbarBG:#181818;
  --thumbBG:black;
  display:flex;
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}





/* HEADER CONTAINING PROFILE PICTURE AND SEARCH BAR */
.top-bar{
    display:flex;
    align-items: center;
}
.flex-item img{
    height: 25%;
    width:25%;
    border: 2px solid black;
    border:50%;
}
.profilepic img{
    border-radius: 50%;
    height: 50px;
    width:50px;

}
/* SEARCH BAR */
.search {
    width: 100%;
    position: relative;
    display: flex;
    z-index:1000;
    
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid  mediumseagreen;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: mediumseagreen;
  }
  
  .searchTerm:focus{
    color: #0c1027;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid mediumseagreen;
    background:mediumseagreen;
     /* #00B4CC; */
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  .searchButton img{
    height: 20px;
    width:20px;
  }
  
 
  .wrap{
    width: 30%;
    position:sticky ;
    top: 5%;
    left: 80%;
    transform: translate(-50%, -50%);
  }

  
/* CAROUSEL */
    


  .carousel-frame {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    
  }
  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
  .item img{
      height: 300px;
      width: 300px;
  }

 .side-bar {
    position: absolute;
    display:inline-flex;
    height: 150%;
    width: 250px;
    flex-direction: column;
    align-items: center;
    scrollbar-width: thin;
    overflow-x:hidden;
    overflow-y: visible;
    border-right: 1px solid rgba(255,255,255,0.06);
    
  }
  .side-bar a{
    text-decoration: none;
  }
  
  .heading{
    height: 70px;
    width: 90%;
    margin:20px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading p{
    font-weight: bold;
    font-size: 2.5em;
    color:#c7c9e4;
    
  }
  .flex-item-tracks{
    /* border:2px solid white; */
    /* height: 100px;
    width: 90%;
    margin:20px; */
  margin-top: 0.5em;
  height: 120px;
	width: 90%;
	z-index: 10;
	display: flex;
	flex-direction: column;
  
  }
  .track{
    position: relative;
    display: flex;
	  align-items: center;
    min-height: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.06);
    
  }
  #album-art{
    align-self:center;
  }
  #album-art img{
    height: 50px;
	  width: 50px;
	  object-fit: cover;
  }
  #song-dsc{
  position: relative;
	flex: 1;
	padding-left: 10px
  }
  #song-dsc p:hover{
    color:rgb(233, 232, 241);
    }
    #song-dsc p:nth-child(1){
      font-size: 22px;
      text-transform: capitalize;
      margin: 2px;
    }
    #song-dsc p:nth-child(2) {
      opacity: 0.6;
      margin-top: 2px;
      font-size: 0.9em;
    }
    #song-dsc p{
      padding: 6px 8px 6px 16px;
        text-decoration: none;
        color: #cec6df;
        display: block;
    }
   

  .genre{
    position:relative;
      display:inline-flex;
      height:400px;
      width:75%;
      left: 260px; 
      justify-content: center;
      flex-direction: column;
      /* 10px more than width of sidebar */
      
  }
  
.heading-container{
  display: flex;
  width:100%;
  height:25%;
  justify-content: center;
  align-items: center;
}
.heading-container p{
  font-weight: bold;
    font-size: 2.5em;
    color:#c7c9e4;
}
.image-container{
  display: flex;
  position:relative;
  width: 100%;
  height:75%;
  flex-direction: row;
  justify-content:space-evenly;
}
.image-container img{
  z-index:15;
  position:relative;
  height: 200px;
  width: 150px;
  margin:20px;
  border-radius: 40px;
  transition: 1s ease;
  min-height: 100px;
  min-width: 75px;

}
.image-container img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
.artist-list-container{
  
  position:relative;
  display:inline-flex;
  height:400px;
  width:75%;
  left: 260px; 
  /* 10px more than width of sidebar */
  justify-content: center;
  flex-direction: column;
  /* border:2px solid white; */
}
.heading-artist-container{
  display: flex;
  height:25%;
  width:100%;
  
  align-items: center;
  justify-content: center;
}
.heading-artist-container p{
  font-weight: bold;
    font-size: 2.5em;
    color:#c7c9e4;
}
.artist-image-container{
  display:inline-flex;
  height:60%;
  width:100%;
  /* border:2px solid green; */
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  
  
}

 /* .............................. */
 .hover-img {
  background-color: #000;
  color: #fff;
  display: inline-flex;
  margin: 8px;
/*  max-width: 320px;
  min-width: 240px;  */
  overflow: hidden;
  position: relative;
  text-align: center;
  min-height: 150px;
  max-height:150px;
  width: 150px;
  border:2px solid whitesmoke;
  border-radius:50%;
  flex-direction: row;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
 
}

.hover-img:before,
.hover-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
  display: inline-flex;
  /* position: relative; */
  position:static;
  left:20px;
  height: 150px;
	width: 150px;
  
  object-fit: cover;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}

/* ..........Current Track Bar.............. */

#song-control-bar{
	top: 89%;
	height: 11vh;
	width: 100%;
	background-color: #50d9de;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 2;
	display: none;
}

#song-control-bar .part-1{
		height: 100%;
		width: 15%;	
		margin-left: 1%;
		background-color: transparent;
}

#song-control-bar .part-1 .current-song{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
}

.current-song .image-container{
	height: 100%;
	width: 70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: transparent;
}

.current-song .image-container .list-song-image{
	padding: 4% 0%;
	height: 100%;
	width: 50%;
	background-color: transparent;
}

.current-song .image-container  img{
	height: 100%;
	width: 100%;
}

.current-song .image-container .list-song-name-date{
	height: 50%;
	width: 30%;
	text-align: center;
	background-color: transparent;
}

.current-song .image-container .list-song-name-date .list-song-name{
	font-size: 0.6rem;
	font-weight: bold;
	background-color: transparent;

}
.current-song .image-container .list-song-name-date .album-name{
	font-size: 0.5rem;
	font-weight: bold;
	background-color: transparent;

}

.current-song  .like-btn{
	margin-left: -10%;
	height: 50%;
	width: 20%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: transparent;
}

.current-song  .like-btn .far, 
.current-song  .like-btn .fas{
	font-size: 0.7rem;
	background-color: transparent;
}

.part-2{
	height: inherit;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;

}

.part-2 .controls{
	width: inherit;
	height: 50%;
	text-align: center;
	background-color: transparent;
	margin-top: 2%;
}
.part-2 .controls > ul{
	list-style: none;
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: space-between;
	background-color: transparent;

}
.part-2 .controls > ul li{
	background-color: transparent;
}

.part-2 .controls > ul li .fas{
	font-size: 1rem;
	background-color: transparent;

}

.part-2 .duration-bar{
	display: flex;
	height: 50%;
	width: 100%;
	align-items: center;
	background-color: transparent;
}

.part-2 .duration-bar .duration-start,
.part-2 .duration-bar .duration-end{
	height: 50%;
	width: 10%;
	font-size: 0.5rem;
	font-weight: bold;
	margin: 0% 0%;
	text-align: center;
	background-color: transparent;

}

.part-2 .duration-bar .range-bar{
	width: 100%;
	background-color: transparent;

}
.part-2 .duration-bar .range-bar input{
	width: 100%;
	background-color: transparent;
}
.part-2 .duration-bar .range-bar input font{
	background-color: transparent;
}

.part-3{
	height: 100%;
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: transparent;
}

.part-3 >ul{
	height: 50%;
	width: 100%;
	display: flex;
	list-style: none;
	justify-content: space-between;
	background-color: transparent;
}

.part-3 >ul li{
	background-color: transparent;
	height: 100%;
	width: 10%;
	text-align: center;
	display: flex;
	align-items: center;
	background-color: transparent;
}

.part-3 >ul li .fas{
	font-size: 1rem;
	background-color: transparent;
}

.part-3 >ul li input{
	width: 100%;
	height: 20%;
	background-color: transparent;
}


.part-3 >ul li input font{
	height: 0;
	width: 0;
	background-color: transparent;
}

#song-control-bar a{
	text-decoration: none;
	background-color: transparent;
	color: black;
}

#song-control-bar:target{
	display: flex;
}




 