body{
    background-color: darkgrey;
}


.main{
    margin-left: 300px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
/* Styling of side navigation(left) */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0c1027;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }

  

body{
  background:  #0c1027;
  /* background-color: #0c1027; */
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid  #9CA3A;
  /* #0c1027; */
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9CA3A;
}

.searchTerm:focus{
  color: #9CA3A;
   /* #0c1027; */
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #9CA3A;
  background: #9CA3A;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: fixed;
  top: 5%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.banner{
  margin: 50px;; 
  padding:50px;
  top:60%;
  left:70%;
  
}
.banner img{
  
  height: 220px;
  width:220;
  /* transition: transform .5s; Animation */
  transition: 1s ease;
}
.banner img:hover {
  /* position: relative;
  height: 300px;
  width: 300px; */
  -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}
.side-bar-tracks #song-dsc{
    position: relative;
    flex: 1;
    padding-left: 10px;

}
.side-bar-tracks #song-dsc p{
  padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #cec6df;
    display: block;
}
#song-dsc p:hover{
color:rgb(233, 232, 241);
}
#song-dsc p:nth-child(1){
  font-size: 22px;
	text-transform: capitalize;
  margin: 2px;
}
#song-dsc p:nth-child(2) {
  opacity: 0.6;
  margin-top: 2px;
  font-size: 0.9em;
}
#song-dsc{
	position: relative;
	flex: 1;
	padding-left: 10px;
}
#track img{
	height: 50px;
	width: 50px;
	object-fit: cover;
}
#track{
	position: relative;
    width: 100%;
    display: flex;
	align-items: center;
    min-height: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.06);
}
.side-bar-tracks{
	margin-top: 0.5em;
	min-height: 220px;
	width: 90%;
	z-index: 10;
	display: flex;
	flex-direction: column;
}

  
  